.modal {
  position: fixed;
  width: 600px;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.footer,
.cart_meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart_meal {
  border-bottom: 1px solid #222;
  padding: 1rem 0;
}

.footer {
  margin-top: 1.5rem;
}

.total {
  font-size: 1.5rem;
  font-weight: bold;
}

.button_div {
  display: flex;
  gap: 0.5rem;
}
