.button,
.cart_button,
.add,
.checkout,
.change_amount {
  background-color: #eb1d36;
  color: #f5eddc;
  border-radius: 1rem;
  border: 2px solid #eb1d36;
  display: inline-block;
}

.cancel {
  background-color: #f5eddc;
  color: #eb1d36;
  border-radius: 1rem;
  border: 2px solid #eb1d36;
  display: inline-block;
}

.button:hover,
.cart_button:hover,
.checkout:hover,
.change_amount:hover {
  background-color: #f5eddc;
  cursor: pointer;
  border-color: #eb1d36;
  color: #eb1d36;
  font-weight: 500;
}

.add:hover {
  background-color: #f5eddc;
  cursor: pointer;
  border-color: #eb1d36;
  color: #eb1d36;
}

.cart_button {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.add {
  padding: 0.5rem 1rem;
  width: 100%;
}

.cancel,
.checkout {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.cancel:hover {
  cursor: pointer;
}

.checkout,
.cancel {
  display: block;
}

.change_amount {
  text-align: center;
  padding: 0 0.2rem;
  font-size: 1.5rem;
  width: 1.5rem;
  border-radius: 8px;
}

.bump {
  animation: bump 0.5s linear;
}

@keyframes bump {
  0% {
    font-size: 1.5rem;
  }
  25% {
    font-size: 2rem;
  }
  50% {
    font-size: 2.5rem;
  }
  75% {
    font-size: 2rem;
  }
  100% {
    font-size: 1.5rem;
  }
}
