.button,
.cart_button,
.add,
.checkout {
  background-color: #eb1d36;
  color: #f5eddc;
  border-radius: 1rem;
  border: 2px solid #eb1d36;
  display: inline-block;
}

.cancel {
  background-color: #f5eddc;
  color: #eb1d36;
  border-radius: 1rem;
  border: 2px solid #eb1d36;
  display: inline-block;
}

.button:hover,
.cart_button:hover,
.checkout:hover {
  background-color: #f5eddc;
  cursor: pointer;
  border-color: #eb1d36;
  color: #eb1d36;
  font-weight: 500;
}

.add:hover {
  background-color: #f5eddc;
  cursor: pointer;
  border-color: #eb1d36;
  color: #eb1d36;
}

.cart_button {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

.add {
  padding: 0.5rem 1rem;
  width: 100%;
}

.cancel,
.checkout {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.cancel:hover {
  cursor: pointer;
}

.checkout,
.cancel {
  display: block;
}
