.card,
.dark_card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: #f5eddc;
  width: 50%;
  margin: 5% auto;
}

.dark_card {
  background-color: #eb1d36;
  color: #f5eddc;
}
